@model ToDoList.Models.IndexViewModel

<div class="container">
    <div class="row">
        <div class="col">
            <button id="AddNewFolder">Add New Folder</button>
            <button>Remove Folder</button>
        </div>
        <div class="col">
            <button>Add New Task</button>
            <button>Select All</button>
            <button>Flag</button>
            <button>Delete Selected</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input style="display:none" type="text" id="FolderName" />
            <button style="display:none" id="CreateFolder">Create</button>
            <p>Папки</p>
            <ul id="FoldersList">
                @foreach (var item in Model.Folders)
                {
                    <li>
                        <button id="Folder-@item.Id" data-id="@item.Id" onclick="getTasks(this)">@item.Name</button>
                    </li>
                }
            </ul>
        </div>
        <div class="col">
            <ul id="TasksList">
                @foreach (var item in Model.Tasks)
                {
                    <li>
                        <input type="text" id="Folder-@item.Id" data-id="@item.Id" value="@item.Text"/>
                    </li>                    
                }
            </ul>
        </div>
    </div>
</div>
<script>

    $("#CreateFolder").click(function () {
        let folderData = {
            name: $("#FolderName").val(),
        }
        $.ajax({
            type: "post",
            url: "/api/Folder",
            data: folderData,
            datatype: "json",
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("ajax error textStatus=" + textStatus + ", errorThrown=" + errorThrown);
            },
            success: function (jsonData) {
                renderFolderButton(jsonData);
                $("#FolderName").toggle();
                $("#CreateFolder").toggle();
            }
        })
    })

    $("#AddNewFolder").click(function () {
        $("#FolderName").toggle();
        $("#CreateFolder").toggle();
    })
    function renderFolderButton(folder) {
        var li = document.createElement("li");
        var button = document.createElement("button");
        button.id = "Folder-" + folder.id;
        button.innerText = folder.name;
        li.appendChild(button);
        $("#FoldersList").append(li);
    }
</script>