@model IEnumerable<ToDoList.Models.Folder>
<div class="container">
    <div class="row">
        <div class="col">
            <button id="AddNewFolder">Add New Folder</button>
            <button>Remove Folder</button>
        </div>
        <div class="col">
            <button>Add New Task</button>
            <button>Select All</button>
            <button>Flag</button>
            <button>Delete Selected</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input style="display:none" type="text" id="FolderName" />
            <button style="display:none" id="CreateFolder">Create</button>
            <p>Папки</p>
            <ul id="FoldersList">
                @foreach (var item in Model)
                {
                    <li>
                        <button id="Folder-@item.Id">@item.Name</button>
                    </li>
                }
            </ul>
        </div>
        <div class="col">
        </div>
    </div>
</div>
<script>
    $("#CreateFolder").click(function () {
        let folderData = {
            name: $("#FolderName").val(),
        }
        $.ajax({
            type: "post",
            url: "api/Folder",
            data: folderData,
            datatype: "json",
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("ajax error textStatus=" + textStatus + ", errorThrown=" + errorThrown);
            },
            success: function (jsonData) {
                console.log(JSON.stringify(jsonData));
                var li = document.createElement("li");
                var button = document.createElement("button");
                button.id = "Folder" + jsonData.id;
                button.innerText = jsonData.name;
                li.appendChild(button);
                $("#FoldersList").append(li);
                $("#FolderName").toggle();
                $("#CreateFolder").toggle();
            }
        })
    })

    $("#AddNewFolder").click(function () {
        $("#FolderName").toggle();
        $("#CreateFolder").toggle();
    })
</script>